.single-student-div {
  /* background-color: white; */
  border-bottom: 1px solid rgba(249,249,249,255);
  display: grid;
  width: 100%;
  grid-template-columns: 20% 70% 10%;
  grid-template-rows: 3;
  /* grid-auto-rows: auto; */
}

.image-div {
  grid-column: 1 / 2;
  grid-row: 1;
  padding: 0% 10%;
  margin-top: 20px;
  margin-bottom: 6px;
}

.image-div img {
  border-radius: 50%;
  border: 1px solid rgb(210, 210, 210);
  height: auto;
  width: 100%;
}

.info-div {
  grid-column: 2 / 3;
  grid-row: 1;
}

.student-name {
  text-transform: uppercase;
  font-size: 215%;
  font-stretch: semi-expanded;
  margin: 15px 0;
}

.info-p {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.783);
  margin: 6px 0px;
  padding-left: 20px;
  font-size: 90%;
}

#grades-button-div {
  grid-column: 3 / 3;
  grid-row: 1;
  justify-self: center;
  padding-left: 10px;
}

#plus-button {
  color: #a9a9a9;
  font-size: 27px;
  margin: 20px 0px;
  cursor: pointer;
}

#grades-breakdown-div {
  grid-column: 2 / 3;
  grid-row: 2;
  margin-bottom: 15px;
}
