/* .app {
  background-color: rgba(247, 247, 243, 0.762);
  padding: 20vh 20vw;
}


.scroll-feature-div {
  background-color: white;
  overflow-y: scroll;
  border: 5px solid black;
  height: 20vh;
}

.list-of-students-div {
  background-color: white;
}

.single-student-div {
  background-color: white;
} */
